:root {
    --primary-color: #191919;
    --white: #FFFFFF;
    --sidebar-primary: #353E47;
    --sidebar-primary-hover: #353E47;
    --sidebar-background: #070E13;
    --background: #FFFFFF;
    --text-link: #FFFFFF;
    --headline: #CBD1D8;
    --expand-button: #353E47;
    --logout: #f56b6b;
    --button-color: #097bf4;
    --button-hover-color: #045fc1;
    --highlight-color: lightblue;
    --selected-skill-bg: lightgreen;
  }
  
  body {
    font-family: 'Work Sans', sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
    background: var(--background);
    display: flex
    height: 100vh
    overflow: auto
  }

